body {
  font-family: "Nunito", sans-serif;
  text-align: center;
  background-color: #ffb90e;
}
h1 {
  font-size: 60px;
  margin: 0px;
  padding: 0px;
}
h2 {
  font-size: 28px;
  padding: 10px;
  margin: 0px;
}
.min-max-temps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.min-temp {
  border: grey 2px solid;
  width: 25%;
  align-items: center;
  margin: 5px;
}
.max-temp {
  border: grey 2px solid;
  width: 25%;
  align-items: center;
  margin: 5px;
}
.humidity-pressure-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.humidity {
  border: grey 2px solid;
  width: 25%;
  align-items: center;
  margin: 5px;
}

.pressure {
  border: grey 2px solid;
  width: 25%;
  align-items: center;
  margin: 5px;
}
.weather-type {
  width: 100vw;
  background-color: #b2871c;
  justify-content: center;
  align-content: center;
  margin: 10px;
}
.description {
}
.image {
  display: flex;
  width: 25%;
  justify-content: center;
  margin: 0 auto;
}
